# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
.env
.venv/
venv/

# Django / logs
*.log
db.sqlite3

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Backups
backups/

# Archivos temporales
*.swp
*.swo

# Java / Maven
target/
*.class
.mtj.tmp/

# GraphHopper Data
graph-cache/
*.poly

# Configuración local GraphHopper
config.yml
pollution.json
